html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.loader-container {
    text-align: center;
}

div.chat-messages-container {
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 160px;
}

.cursor-pointer {
    cursor: pointer;
}

div.note-hidden {
    display: none;
}

div.task-group-check {
    background-color: #9FC6E7 !important;
}

div.task-group-communication {
    background-color: #D9FFE4 !important;
}

div.task-group-finance {
    background-color: gold !important;
}

div.task-group-urgent {
    background-color: #FF0000 !important;
}

div.task-group-work {
    background-color: #F3F3F3 !important;
}

div.task-group-problem    {
    background-color: #FF0000 !important;
}

div.chat-contents-container {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.chat-contents-container div.chat-message-container span.message-header {
    font-weight: bold;
    color: #616EE1;
}

div.chat-contents-container div.chat-message-container span.message-header-own {
    color: #1AE156;
}

div.actions-container, ul.actions-container {
    display: none;
}

body.modal-open {
    overflow: scroll;
}

.task-performer-maxim {
    border: red dotted 3px;
}

div.week-item-today div.panel-heading h4, div.week-item-today  div.panel-body h3 {
    color: red;
}